nav a {
    margin-left: 30px;
    font-weight: 500;
    font-size: 1rem;
    /* font-family: 'Beau Rivage', cursive; */
    color: #fcf1df;
    display: inline-block;
    transition: all 0.3s ease-in;

}

nav a:hover {
    transform: translateY(3px);
    color: #dac393;
}



@media only screen and (min-width: 900px) {
    .logo-holder {
        position: relative;

    }
    
    .logo-holder img {
        position: absolute;
        top: -31px;
        z-index: 4;
    
    }

  }