@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Ms+Madi&family=Open+Sans:wght@400;500;600;800&display=swap');


*{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  
}




.primary-color-text{
  color: #fcf1df;
}

.primary-color-bg{
  background-color: #fcf1df;
}

.secondary-color-bg{
  background-color: #6f4a2a;
}

.secondary-color-text{
  color: #6f4a2a;
}

.third-color-text{
  color: #3b332f;
}

.third-color-bg{
  background-color: #3b332f;
}


